
.game-row {
    height: 50%;
}

#red {
    background-color: red;
    border-radius: 100% 0 0;
    border: 20px solid black; 
}

#green {
    background-color: green;
    border-radius: 0 100% 0 0;
    border: 20px solid black; 
}

#blue { 
    background-color: blue;
    border-radius: 0 0 0 100%;
    border: 20px solid black; 
}

#yellow {
    background-color: yellow;
    border-radius: 0 0 100% 0;
    border: 20px solid black; 
}


.color-btn {
    max-width: 50%;
}

