/*-------------------------------------- Simon Game -------------------*/

.page-container {
    height: 750px;
    background-color: gray;
    padding-top: 20px;
    background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
}

.game-container {
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-color: black;
    border-radius: 50%;
}

.col-button {
    width: 215px;
    height: 215px;
    position: absolute;
    margin: 25px;
}

#red {
    background-color: darkred;
    border-radius: 100% 0 0;
    top: 0;
    left: 0;
}

#green {
    background-color: darkgreen;
    border-radius: 0 100% 0 0;
    top: 0;
    right: 0;
}

#blue {
    background-color: darkblue;
    border-radius: 0 0 0 100%;
    bottom: 0;
}

#yellow {
    background-color: goldenrod;
    border-radius: 0 0 100% 0;
    bottom: 0;
    right: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: silver;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 20px solid black;
}

#game-title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

.btn-box {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}



.game-text {
    font-weight: bold;
    font-size: 1em;
}

.btn-row {
    text-align: center;
}

#counter-display {
    height: 40px;
    width: 45px;
    background-color: darkred;
    border: 5px solid black;
    border-radius: 10%;
    margin: 0 auto;
}

#counter {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

#start-btn {
    height: 40px;
    width: 40px;
    background-color: darkred;
    border-radius: 50%;
    border: 5px solid black;
}

#strict-btn {
    height: 40px;
    width: 40px;
    background-color: goldenrod;
    border-radius: 50%;
    border: 5px solid black;
}

.fa-power-off {
    height: 30px;
    width: 30px;
}

/*-------------------------------------- JS -------------------*/

.highlight-red {
    background-color: red !important;
}

.highlight-green {
    background-color: green !important;
}

.highlight-blue {
    background-color: blue !important;
}

.highlight-yellow {
    background-color: yellow !important;
}
