/*-------------------------------------- Simon Game -------------------*/

.page-container {
    height: 1000px;
    background-color: gray;
    padding-top: 25px;
    background-image: url("https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.game-container {
    max-width: 700px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    background-color: black;
    border-radius: 50%;
}

.col-button {
    width: 305px;
    height: 305px;
    position: absolute;
    margin: 30px;
}

#red {
    background-color: darkred;
    border-radius: 100% 0 0;
    top: 0;
    left: 0;
}

#green {
    background-color: darkgreen;
    border-radius: 0 100% 0 0;
    top: 0;
    right: 0;
}

#blue {
    background-color: darkblue;
    border-radius: 0 0 0 100%;
    bottom: 0;
}

#yellow {
    background-color: goldenrod;
    border-radius: 0 0 100% 0;
    bottom: 0;
    right: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: silver;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 25px solid black;
}

#game-title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

.btn-box {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}

#counter-display {
    height: 50px;
    width: 60px;
    background-color: darkred;
    border: 5px solid black;
    border-radius: 10%;
}

#counter {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

.game-text {
    font-weight: bold;
}


#start-btn {
    height: 50px;
    width: 50px;
    background-color: darkred;
    border-radius: 50%;
    border: 5px solid black;
}

#strict-btn {
    height: 50px;
    width: 50px;
    background-color: goldenrod;
    border-radius: 50%;
    border: 5px solid black;
}

.btn-row {
    text-align: center;
    margin-top: 10px;
}

.fa-power-off {
    height: 30px;
    width: 30px;
}
/*
.power-btn {
    height: 50px;
    width: 50px;
}*/

/*-------------------------------------- JS -------------------*/

.highlight-red {
    background-color: red !important;
}

.highlight-green {
    background-color: green !important;
}

.highlight-blue {
    background-color: blue !important;
}

.highlight-yellow {
    background-color: yellow !important;
}
